fastapi
passlib[bcrypt]
bcrypt<4
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
email-validator
python-jose
pytest
httpx
line-profiler
memory-profiler
coverage
sphinx
